vs-script-first-v01.aux
vs-script-first-v01.bcf
vs-script-first-v01.idx
vs-script-first-v01.ilg
vs-script-first-v01.ind
vs-script-first-v01.log
vs-script-first-v01.out
vs-script-first-v01.pytxcode
vs-script-first-v01.run.xml
vs-script-first-v01.toc
vs-script-orga.log
